body{
    background-color: gray;
}
.box{
        font-size: 50px;
    text-align: center;
    background-color: beige;
    border: 2px solid black;
}
.wrapper{
    border: 2px dashed black;
}


.wrapper{
    display: flex;
}
.box{
    flex: 1;
}
.box1{
    order: 7;
}
box2{
    order: 3;
}
box3{
    order: 5;
}
box4{
    order: 2;
}
box5{
    order: 9;
}
box6{
    order 1;
}
box7{
    order: 4;
}
box8{
    order: 6;
}
box9{
    order: 8;
}







.regularboringdiv{
    border: 2px solid black;
    display: flex;
}
.seventy{
    flex: 7;
    background-color: beige;
    border: 2px solid red;
}
.thirty{
    flex: 3;
    background-color: yellow;
}

#notinuse{
    flex-flow: row wrap;
    justify-content: space-around;
    background-color: yellow;
}